node_modules
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Sublime Text
*.sublime*

# Local scripts
*.sh

# Google Sheets
credentials.json

# prebuilt binaries
*-linux
*-macos
*-win.exe

# ESLint
.eslintrc.json